@media screen and (max-width: 1200px) {
  #galeryContainer{
    width: 80vw;
  }
  #questContainer{
    width: 80vw;
  }
}
@media screen and (max-width: 600px) {
  body {
  }
  #header{
    padding-top: 10px;
  }
  .menuPoint{
    font-size: min(20px, 6vw);
    padding-right: 16px;
    padding-left: 16px;
  }
  .shrink{
    padding-top: 0px !important;
  }
  .shrink>a>.menuPoint{
    padding-top: 0px;
    padding-bottom: 4px;
  }
  .flexBox{
    margin-top: 64px;
  }
  #questContainer{
    width: 90vw;
  }
  .galeryImage{
    margin: 5vw 0px;
  }
  .skillContainer{
    width: 100vw;
    justify-content: center;
  }
  .quest{
    flex-direction: column-reverse !important;
  }
  #firstQuestBox{
    flex-direction: column !important;
  }
  .Box {
    display: flex;
    flex-direction: column;
  }
  .questImage {
    background-position: unset;
  }
  .greyBox > h3{
    margin-left: 20px;
  }
  .greyBox{
    margin: 32px;
    margin-top: 0px;
  }
  #description{
    width: 100vw;
  }
  #skillsBox > h3{
    margin: 0px;
    margin-left: 20px;
    align-self: flex-start;
  }
  #contact > h3{
    margin: 0px;
    margin-left: 20px;
    align-self: flex-start;

  }
  .greyBox{
    padding: 20px 0px;
  }
  .otherSkill{
    margin-left: 20px;
  }

  #skillsBox,
  #contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #skills {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .skill {
    width: auto;
  }

  #headline{
    justify-content: space-between;
    margin: 0px;
  }

  #headline>h1{
    font-size: 34px;
    text-align: center;
    margin: 0px;
  }
  #headline>p{
    font-size: 20px;
    text-align: center;
  }
  #activeQuest{
    display: flex;
    flex-direction: column-reverse;
  }

  .profileImage {
    display: flex;
    justify-content: center;
  }
  #profileImage {
    object-fit: cover;
    height: 246px;
    object-position: 20px 0px;
  }

  .skillBox {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .quest {
    display: flex;
    flex-direction: column;
    min-width: auto;
  }

  .imageParent {
    height: 200px;
    clip-path:
    polygon(
      0% 0%,
      100% 0%,
      100% 94%,
      0% 100%
    )  !important;
  }
  #activeQuest>.imageParent {
    height: 150px;
  }
  .imageParent .questImage {
    background-size: fill;
    background-position: center;
    border-radius: unset;
  }
  .property{
    grid-template-columns: 1fr 1fr;
  }
  .propertyBox{
    grid-template-columns: 1fr;
    margin: 0px;
    margin-bottom: 16px;
  }
  .projectPageText{
    padding: 32px;
  }
  .arrow{
    width: 32px;
    height: 32px;
  }
  #galeryContainer{
    width: 90vw;
  }
}
