@media screen and (max-width: 600px) {
  body {
  }
  #header{
    padding-top: 10px;
  }
  .flexBox{
    margin-top: 56px;
  }
  .Box {
    display: flex;
    flex-direction: column;
  }
  .questImage {
    background-position: unset;
  }
  .greyBox > h3{
    font-size: 20px;
    margin-left: 20px;
  }
  .greyBox{
    padding: 20px 0px;
  }
  .otherSkill{
    margin-left: 20px;
  }

  #skillsBox,
  #contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #skills {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .skill {
    width: auto;
  }

  #headline>h1{
  font-size: 34px;
  text-align: center;
  }
  #headline>p{
    font-size: 16px;
    text-align: center;
    }

  .profileImage {
    display: flex;
    justify-content: center;
  }
  #profileImage {
    object-fit: cover;
    height: 246px; /* height of container */
    object-position: 20px 0px; /* try 20px 10px */ 

    /* clip-path:
    polygon(
      0 0,
      100% 0,
      100% 35%,
      0% 35%
    )  */
  }

  .skillBox {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .quest {
    display: flex;
    flex-direction: column;
    min-width: auto;
  }

  .imageParent {
    height: 300px;
    clip-path: none !important;
  }

  .firstQuestImage {
    clip-path: none !important;
  }

  .imageParent .questImage {
    background-size: auto;
    background-position: center;
    border-radius: unset;
  }
}
