@media screen and (max-width: 600px) {
  body {
  }
  #header{
    padding-top: 10px;
  }
  .flexBox{
    margin-top: 64px;
  }
  .questContainer{
    width: 100vw;
    min-width: 300px;
    margin: 0px;
  }
  .Box {
    display: flex;
    flex-direction: column;
  }
  .questImage {
    background-position: unset;
  }
  .greyBox > h3{
    margin-left: 20px;
  }
  .greyBox{
    margin: 16px;
    margin-top: 0px;
  }
  .description{
    width: 100vw;
  }
  #skillsBox > h3{
    margin: 0px;
    margin-left: 20px;
    align-self: flex-start;
  }
  #contact > h3{
    margin: 0px;
    margin-left: 20px;
    align-self: flex-start;

  }
  .greyBox{
    padding: 20px 0px;
  }
  .otherSkill{
    margin-left: 20px;
  }

  #skillsBox,
  #contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #skills {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .skill {
    width: auto;
  }

  #headline>h1{
  font-size: 34px;
  text-align: center;
  }
  #headline>p{
    font-size: 20px;
    text-align: center;
  }
  #activeQuest{
    display: flex;
    flex-direction: column-reverse;
  }

  .profileImage {
    display: flex;
    justify-content: center;
  }
  #profileImage {
    object-fit: cover;
    height: 246px;
    object-position: 20px 0px;
  }

  .skillBox {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .quest {
    display: flex;
    flex-direction: column;
    min-width: auto;
  }

  .imageParent {
    height: 300px;
    clip-path: none !important;
  }
  #activeQuest>.imageParent {
    height: 150px;
    clip-path:
    polygon(
      0% 0%,
      100% 0%,
      100% 94%,
      0% 100%
    )  !important;
  }


  .firstQuestImage {
    clip-path: none !important;
  }

  .imageParent .questImage {
    background-size: fill;
    background-position: center;
    border-radius: unset;
  }
}
